<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="nlog" type="NLog.Config.ConfigSectionHandler, NLog" />
  </configSections>
  <appSettings>
	  <add key="MONGOLAB_URI" value="mongodb://appharbor_46b59e98-aff4-463f-90ac-89aea8d0ac8f:mnu5pi8h4co8en6ftdjp478qsi@ds037407-a.mongolab.com:37407/appharbor_46b59e98-aff4-463f-90ac-89aea8d0ac8f" />
	  <add key="REDISTOGO_URL" value="redis://redistogo-appharbor:5204f0873349e317cf629a6289006b0f@clingfish.redistogo.com:9275/" />
  </appSettings>
	<nlog>
		<targets>
			<target name="debugger" type="Debugger" layout="${logger:shortName=true} : ${LEVEL}, ${message}" />
		</targets>
		<rules>
			<logger name="*" minLevel="Trace" appendTo="debugger" />
		</rules>
	</nlog>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0" />
  </startup>
</configuration>

